registry=https://registry.npmmirror.com
@types:registry=https://registry.npmmirror.com
public-hoist-pattern[]=*katex*
strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true
node-mirror:release=https://npmmirror.com/mirrors/node/
node-mirror:rc=https://npmmirror.com/mirrors/node-rc/
node-mirror:nightly=https://npmmirror.com/mirrors/node-nightly/
